# Example .gitignore file for your config dir.
# An * ensures that everything will be ignored.
*
# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md
!/esphome
!/custom_components
!/custom_components/**
!/blueprints/**
!/blueprints/
!packages
!pyscript/
!/.github
!/.github/workflows
!/owntone/
!owntone.conf
!*.py

# Ignore folders.
.storage
.cloud
node-red
www
tts
custom_components/mail_and_packages/images

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]