substitutions:
  name: ratgdov25i-d8016f
  friendly_name: ratgdov2.5i d8016f
packages:
  ratgdo.esphome: github://ratgdo/esphome-ratgdo/v25iboard.yaml@main
esphome:
  name: ${name}
  name_add_mac_suffix: false
  friendly_name: ${friendly_name}
api:
  encryption:
    key: hUtqck8sLra9+PddCiZ+cvCrzKmP3tAcSOXTFoTnyBo=


wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
